In [1]:
"""
Q1
A database is a collection of organized data that is stored and accessed electronically. It is designed to 
store and manage large volumes of information efficiently and securely. Databases are used in various 
applications, including web applications, mobile apps, enterprise systems, and more.

differences
 SQL databases use a relational data model that organizes data into tables with predefined schemas, while 
 NoSQL databases use a flexible, schema-less data model.
 SQL databases use SQL as their query language, while NoSQL databases use different query languages or APIs.
 NoSQL databases are designed to be highly scalable and can handle large volumes of unstructured data, while
 SQL databases are not as scalable and are better suited for structured data."""

'\nQ1\nA database is a collection of organized data that is stored and accessed electronically. It is designed to \nstore and manage large volumes of information efficiently and securely. Databases are used in various \napplications, including web applications, mobile apps, enterprise systems, and more.\n\ndifferences\n SQL databases use a relational data model that organizes data into tables with predefined schemas, while \n NoSQL databases use a flexible, schema-less data model.\n SQL databases use SQL as their query language, while NoSQL databases use different query languages or APIs.\n NoSQL databases are designed to be highly scalable and can handle large volumes of unstructured data, while\n SQL databases are not as scalable and are better suited for structured data.'

In [3]:
"""
Q2
DDL (Data Definition Language) is a set of SQL statements that are used to define and manage the structure 
of a database, including creating, modifying, and deleting database objects such as tables, views, indexes, 
and constraints. DDL statements do not manipulate data but rather define the schema of the database.
CREATE statement: The CREATE statement is used to create a new database object, such as a table, view, or 
index
CREATE TABLE employees (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  salary FLOAT
  
);
DROP statement: The DROP statement is used to delete an existing database object, such as a table, view, or
index.
DROP TABLE employees;
ALTER statement: The ALTER statement is used to modify the structure of an existing database object, such as
a table or view.
ALTER TABLE employees ADD COLUMN email VARCHAR(100);
TRUNCATE statement: The TRUNCATE statement is used to delete all rows from a table, while keeping the table 
structure intact.
TRUNCATE TABLE employees;"""

'\nQ2\nDDL (Data Definition Language) is a set of SQL statements that are used to define and manage the structure \nof a database, including creating, modifying, and deleting database objects such as tables, views, indexes, \nand constraints. DDL statements do not manipulate data but rather define the schema of the database.\nCREATE statement: The CREATE statement is used to create a new database object, such as a table, view, or \nindex\nCREATE TABLE employees (\n  id INT PRIMARY KEY,\n  name VARCHAR(50),\n  salary FLOAT\n  \n);\nDROP statement: The DROP statement is used to delete an existing database object, such as a table, view, or\nindex.\nDROP TABLE employees;\nALTER statement: The ALTER statement is used to modify the structure of an existing database object, such as\na table or view.\nALTER TABLE employees ADD COLUMN email VARCHAR(100);\nTRUNCATE statement: The TRUNCATE statement is used to delete all rows from a table, while keeping the table \nstructure intact.\nTRUNCATE TABLE employees;'

In [ ]:
"""
Q3
DML (Data Manipulation Language) is a set of SQL statements that are used to modify data stored in a database.
DML statements manipulate the data stored in tables by inserting, updating, or deleting rows
INSERT statement: The INSERT statement is used to insert new rows into a table.
INSERT INTO employees (id, name, salary) VALUES (1, 'John', 50000);
UPDATE statement: The UPDATE statement is used to update existing rows in a table.
UPDATE employees SET salary = 60000 WHERE id = 1;
DELETE statement: The DELETE statement is used to delete one or more rows from a table.
DELETE FROM employees WHERE id = 1;
"""

In [ ]:
"""
Q4
DQL (Data Query Language) is a subset of SQL that is used to retrieve data from a database. DQL statements, 
such as SELECT, are used to query one or more tables in a database and return the results in a specified 
format
Suppose we have a table called employees with the following columns: id, name, department, and salary. 
We can use the SELECT statement to retrieve all the data from this table, like this:
SELECT * FROM employees;
"""

In [ ]:
"""Q5
A Primary Key is a column or set of columns in a table that uniquely identifies each row in that table. It
must have a unique value for each row, and it cannot contain NULL values. A primary key can be composed of 
one or more columns, and it is used to enforce data integrity and ensure that each row in a table can be
uniquely identified
A Foreign Key is a column or set of columns in one table that refers to the Primary Key in another table. It
establishes a relationship between two tables and is used to enforce referential integrity. A foreign key 
ensures that each value in the referencing table corresponds to a valid row in the referenced table.
"""

In [ ]:
"""Q6
import mysql.connector
mydb=mysql.connector.connect(host="localhost",username="abc",password="password")
mycursor=mydb.cursor()
mycursor.execute("select * from `TEST2`.test_table;")
for i in mycursor.fetchall():
    print(i)
mydb.close()

the cursor() method creates a cursor object that is used to execute SQL statements and fetch data from the 
database. The cursor() method is called on a connection object
The execute() method is used to execute SQL statements and commands that modify the database. The execute() 
method is called on a cursor object, and it takes a string parameter """

In [ ]:
"""
Q7
FROM clause: This clause identifies the table(s) from which data is being selected.
WHERE clause: This clause filters the rows based on the specified conditions.
GROUP BY clause: This clause groups the rows based on specified columns.
HAVING clause: This clause filters the groups based on the specified conditions.
SELECT clause: This clause selects the columns to be included in the result set.
ORDER BY clause: This clause sorts the rows based on the specified columns.
LIMIT clause: This clause limits the number of rows returned in the result set."""