In [15]:
"""A 'for' loop is generally used when you know the exact 
number of times you want to execute a set of instructions.
example of 'for' loop"""
for i in range(1, 11):
    print(i)
  
"""A 'while' loop is used when you don't know the exact number of
times you want to execute a set of instructions and you want 
to continue executing the instructions until a certain 
condition is met.
example of 'while' loop """

i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [1]:
# Q2 using for loop

s=0
p=1
for i in range(1,11):
               s=s+i
               p=p*i
print(s,p)

55 3628800

In [2]:
#Q2 using whie loop
i=1
s=0
p=1
while (i<=10):
    s=s+i
    p=p*i
    i=i+1
print(s,p)

55 3628800

In [14]:
#Q3 
units = int(input("Enter the units:"))
bill = 0

if units <= 100:
    bill = units * 4.5
elif units <= 200:
    bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20
print(bill)

Enter the units: 4567

87390.0

In [4]:
# Q4 using for loop
l=[]
a=list(range(1,101))
for i in a:
    b=i*i*i
    if b%4==0 or b%5==0:
        l.append(i)
l

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [12]:
#Q4 using while loop
l=[]
a=list(range(1,101))

i=1
while i<len(a):
    b=i*i*i
   
    if b%4==0 or b%5==0:
        l.append(i)
    i+=1    
        
l

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98]

In [6]:
# Q5 using for loop
a=str(input("Enter the string"))
a=a.lower()
b=list(a)
count=0

for i in b:
    if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
       count=count+1
       
        
count

Enter the string aaioue

6

In [7]:
# Q5 using while loop
string=input("enter the string")
string=string.lower()
i=0
count=0
while i<len(string):
    if(string[i]=="a" or string[i]=="e" or string[i]=="i" or string[i]=="o" or string[i]=="u"):
       count=count+1
       i=i+1
    
count

enter the string aaaiouee

8